*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.search-container{
    margin-bottom: 20px;
    width: 100%;
}
.form-control{
    margin-bottom: 20px;
}
.table{
    border-radius: 10px;
}

